<div class="col s12 blog-post" data-post-id="{{id}}">
    <div class="card">
        <div class="card-header">
            <span class="card-title">{{name}}</span>
            <span class="date-posted">{{date_created}}</span>
        </div>
        <div class="card-content">
            <h5>{{user.username}}:</h5>
            <p>{{content}}</p>
        </div>
    </div>
</div>