<div class="col s12 blog-post" data-post-id="{{id}}">
    <div class="card">
        <div class="card-header">
            <span class="card-title">{{name}}</span>
            <span class="date-posted">{{date_created}} by {{user.username}}</span>
        </div>
        <div class="card-content">
            <p>{{content}}</p>
        </div>
    </div>
</div>